<h3></h3>

<form action="/" name="search">
  <div class="form-group">
    <input type="text" placeholder="Show tweets about..." class="form-control">
  </div>
  <input type="submit" value="Search" class="btn btn-primary"> 
  <a href="#" class="stop">Stop stream</a>
</form>

<div id="tweet-container"></div>