body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background-color: #00aff0;
  color: #323332;
}

h1, h3 {
  text-align: center;
  color: #fff;
}

h1 {
  font-family: 'Anton', sans-serif;
}

#tweets {
  margin: 1em;
}

.tweet {
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
  background-color: #fdfdfd;
}

.profile-image {
  overflow: hidden;
  float: left;
  padding: .5em;
}

.names, .contents {
  margin-left: 60px;
  padding: .5em;
}

.names {
  font-weight: bold;
}

.contents {
  color: #333;
}

form {
  text-align: center;
  max-width: 320px;
  margin: 0 auto 20px;
}
